body{
    margin: 0;
}

header {   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-image: url("MK1_h.jpg");
    background-size: cover;
    width: 100vw;
    height: 10vh;
}

@font-face {
    font-family: Mortal;
    src: url(MK1_font.ttf);
}

.ht {
    position: fixed;
    top: -75px;
    left: 130px;
    font-size: 500%;
    font-family: Mortal;
    text-shadow: 2px 2px lightskyblue;
}

@keyframes animacja {
    0% { background-position: 0 0; }
    50% { background-position: 100% 0; }
    100% { background-position: 0 0; }
  }

.srodek {   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    width: 100vw;
    height: 85vh;
    background-image: url("hehe.png");
    background-size: cover;
    animation: animacja 15s linear infinite;
}

footer {   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-image: url("MK1_f.jpg");
    background-size: cover;
    background-color: yellow;
    width: 100vw;
    height: 5vh;
}

.ft{
    position: fixed;
    bottom: -15px;
    right: 15px;
    font-size: 150%;
    font-family: Mortal;
    text-shadow: 2px 2px lightskyblue;
}

.komorka{
    position: static;
    width: 13vw;
    height: 13vw;
    border: none;
    border-radius: 90%;
}

.tabela_gra{
    margin: 2%;
 }

.komorka.X {
    background-image: url("MK1_1.png");
    background-size: cover;
}

.komorka.O {
    background-image: url("MK1_2.png");
    background-size: cover;
}

#obrazek{
    width: 5vw;
    height: 5vw;
    margin-bottom: 1vh;
}

.qt{
    font-family: Mortal;
    font-size: 200%;
    text-shadow: 2px 2px lightskyblue;
}

#wygrana{
    visibility:hidden;
    font-family: Mortal;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 75, 112, 0.6);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-shadow: 0px 0px 20px black;
    font-size: 10rem;
    text-align: center;
}

#tekstWygrana{
    position: fixed;
    top: 200px;
    left: 0;
    right: 0;
}

#restartPrzycisk{
    font-family: Mortal;
    position:absolute;
    border: 0;
    top: 500px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    height: 5vh;
    width: 5vw;
    font-size: 15%;
    text-align: center;
    border-radius: 40%;
}

#kolejka{
    gap: 2vw;
    display: flex;
    flex-direction: row;
    width: 1vw;
    align-items: center;
    align-content: center;
    text-align: center;
}

