*{
    margin: 0;
    padding: 0;
}

html{
    background-color: lightgray;
    height: 100%;
    width: 100%;
}

.div1{
    width: 98%;
    height: 10%;
    background-color: white;
    text-align: left;
    margin-bottom: 4%;
    padding: 1%;
    position: relative;
}

a {
    text-decoration: none;
}

ol{
    list-style: none;
    display: flex;
    list-style-type: none;
}
  
li{
    margin-right: 10px;
    list-style-type: none;
    list-style: none;
}

.menu{
    position:absolute;
    background-color: white;
}

.menu > ul > li {
    display:none;
}

ol > li:hover > .menu > ul > li{
    display:block;
    border-bottom: 1px solid lightgray;
}  

h2,h3{
    color: black;
    font-size: 35px;
    font-weight: bold;
}

.div3{
    height: 65%;
    width: 44%;
    position: absolute;
    background-color: white;
    color: darkgray;
    text-align: left;
    float: left;
    margin-left: 2%;
    padding: 1%;
    font-size: 20px;
}

#obrazek{
    max-height: 45%;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.divprawo{
    height: 65%;
    width: 44%;
    position: absolute;
    background-color: white;
    color: darkgray;
    text-align: left;
    float: right;
    margin-right: 2%;
    padding: 1%;
    right: 2%;
    font-size: 20px;
}

.divprawo > div:nth-of-type(1){
    background-color: rgb(59, 59, 59);
    color: white;
    text-align: left;
    padding: 2%;
}

.divprawo > div:nth-of-type(2){
    background-color: rgb(59, 59, 59);
    color: white;
    text-align: left;
    padding: 2%;
}

.divprawo > div:nth-of-type(3){
    background-color: white;
    color: black;
    text-align: center;
    padding: 2%;
}

input[type=text]{
    width: 85%;
}

textarea{
    width: 85%;
}

td{
    border-bottom: 1px solid lightgray;
}

footer{
    clear: both;
    text-align: center;
    width: 90%;
    height: 5%;
    background-color: white;
    color: darkgray;
    position: absolute;
    bottom: 8%;
    font-size: 25px;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 0.5%;
}
  
.plewo{
    float: left;
    text-align: left;
    width: 33.3%;
    border-right: 1px solid lightgray;
    line-height: 75px;
}

.psrodek{
    float: left;
    text-align: left;
    width: 33.4%;
    border-right: 1px solid lightgray;
    line-height: 75px;
    padding-left: 4%;
}

.pprawo{
    float: right;
    text-align: left;
    line-height: 75px;
    padding-left: 1%;
    padding-right: 20%;
}


@media screen and (max-height: 900px) {
    .menu > ul > li{
        position: relative;
        z-index: 9999;
    }

    .div3 {
        padding: 1%;
        margin: 0;
        margin-left: 1%;
        width: 95%;
        height: 90%;
        display: block;
        float: none;
        z-index:2;
    }

    .divprawo {
        padding: 0;
        margin: 0;
        width: 97%; 
        display: block;
        float: none;
        top: 100%;
    }

    footer{
        display: block;
        float: none;
        top: 168%;
        padding-bottom: 1%;
    }

    .pprawo{
        float: right;
        text-align: left;
        line-height: 75px;
        padding-left: 1%;
        padding-right: 5%;
    }

}

@media screen and (min-height:1100px){
    html{
        zoom: 1;
    }
}

@media screen and (max-height: 1080px){
    html{
        zoom: 0.8;
    }
}

@media screen and (-webkit-device-pixel-ratio: 1.5){
    html{
        zoom: 0.5;
    }
}

@media screen and (-webkit-device-pixel-ratio: 1.25){
    html{
        zoom: 0.65;
    }
}
